:root {
  --accent: #00A99F;
  --accent-cold: #00605A;
  --bg-1: #2C2C2C;
  --bg-2: #1B1B1B;
  --bg-3: #252525;
  --bg-4: #383838;
  --light: #F3F3F3;
  --light-gray: #A8A8A8;
  --danger: #E40060;
  --dark-gray: #4B4B4B;
}